/ai-the-dentist-firebase-adminsdk-fbsvc-1a145591ce.json
mmcv/
directory.txt
__pycache__
/venv/
/.venv/
/env/
/.env/
/env.bak/
/venv.bak/

pycache/
*.pyc
*.pyo
*.pyd

build/
dist/
*.egg-info
/htmlcov/
.coverage

/static/results/
/Models/best_coco_bbox_mAP_epoch_10.pth
.vscode/
Thumbs.db
desktop.ini